<div class="animate__animated animate__fadeIn animate__faster">
    <h2>Por Capital</h2>
    <hr>

    <div class="row">
        <div class="col">
        <app-pais-input 
                (onEnter)="buscar( $event )"
                (onDebounce)="sugerencias( $event)"
                placeHolder="Buscar capital...">
            </app-pais-input>
        </div>
    </div>  
</div>

<div>
    <app-pais-sugerencia 
        (onClick) ="buscar($event)"
        [mostrarSugerencias]="mostrarSugerencias"
        [paisesSugeridos] = "paisesSugeridos"
        [termino] = "termino">
    </app-pais-sugerencia>
    <!-- <ul *ngIf="mostrarSugerencias"
        class="list-group">
        <li *ngFor="let pais of paisesSugeridos"
            class="list-group-item list-group-item-action">
            <a class="nav-link" 
                [routerLink]= "['/pais', pais.cca2]">
                {{pais.name.common}}
            </a>
                            
        </li>
        <li class="list-group-item list-group-item-action"
            (click)="buscar( termino )">
            <a class="nav-link"> 
                Buscar "{{termino}}"
            </a>
        </li>
    </ul> -->
</div>

<hr>
<div class="alert alert-danger" *ngIf="hayError">
    No se encontro nada con el término {{ termino }}.
</div>

<div *ngIf="paises.length > 0" class="row">
    <div class="col">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>