<h2>busquedas</h2>
        <hr>
        <ul class ="nav nav-pills flex-column mb-auto"></ul>
        <li 
            routerLink=""
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
            class="list-group-item"
        >
            Buscar país
        </li>
        <li 
            routerLink="region"
            routerLinkActive="active"
            class="list-group-item"
        >
            Por Region
        </li>
        <li routerLink="capital"
            routerLinkActive="active"
            class="list-group-item"
        >   
            Por Capital
        </li>