<table class="table table-hover animate__animated animate__fadeIn animate__faster">
    <thead>
        <tr>
            <th>#</th>
            <th>Bandera</th>
            <th>Nombre</th>
            <th>Población</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pais of paises; let i = index">
            <td>{{ i + 1 }}</td>
            <td>
                <img class="small-flag" alt="Bandera" [src]="pais.flags.png">
            </td>
            <td>{{pais.capital}}, {{pais.name.common}}</td>
            <td>{{pais.population  | number}}</td>
            <td>
                <a [routerLink]="['/pais', pais.cca2]" class="href">Ver...</a>
            </td>
        </tr>
    </tbody>
</table>